:root {
    --primary-color: #ffffff;
    --secondary-color: #1a1a1a;
    --tertiary-color: #00ffc9;
    --button-color: #606060;
    --form-color: #e9e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.75;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 0 auto;
    width: 75%;
}

h2, h3 {
    font-family: 'DM Serif Display', sans-serif !important;
}

section {
    margin: 2% 0;
}

.twelve {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Logo Style*/
header {
    font-size: 1.1vw;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-weight: bold;
    margin: 0;
}

.portfolio-tag {
    color: var(--primary-color);
    font-weight: lighter;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
    font-weight: lighter;
    font-size: 20px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
}

header nav ul li a:hover {
    text-decoration: underline var(--primary-color);
    transition-timing-function: ease;
}
/*navigation contact button*/
.contact-div a {
    border: solid 1px var(--primary-color);
    border-radius: 15px;
    padding: 5px 15px;
}

.contact-div a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*intro Styles*/

.intro {
    font-size: 1.55vw;
    width: 45%;
    margin-top: 10%;
    margin-bottom: 5%;
    line-height: 1.5;
}

.intro p {
    font-weight: lighter;
    letter-spacing: 3px;
}

/*intro Styles End*/

/*Hero Styles*/
.hero {
    width: 120vw;
    height: 100vh;
    background: url("../images/hero.gif") no-repeat center center;
    background-color: white;
    background-attachment:initial;
    background-size: cover;
    margin: 0 -20%;
    padding: 0;
}
/*Hero Styles End*/

/*About Styles*/
.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Profile Card Styles*/
.about-column1 {
    width: 35%;
    margin: 7% 0;
    background-image: url("../assets/images/iphonex.icns");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-column1 img {
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    border-radius: 50%;
    width: 80%;
    filter: saturate(80%);
}

.about-column1 a {
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    border-radius: 10px;
    letter-spacing: 3px;
    width: 80%;
    text-decoration: none;
    padding: 3% 0;
}

.about-column1 a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.about-column1 h4 {
    font-weight: bold;
    letter-spacing: 1px;
}

.about-column1 h5 {
    font-weight:lighter;
}

.about-column2 {
    width: 60%;
}

.about {
    margin-top: 5%;
}

.about-column2 a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.about-column2 a:hover {
    text-decoration: underline;
}

/*Skills Styles*/
.skills {
    display: flex;
    justify-content: space-around;
    margin: 7% 0 10% 0;
}
/*Skills Styles End*/

/*About Styles End*/

/*Projects Styles*/
.project-container {
    display: flex;
    justify-content: space-between;
    margin: 5% 0 10% 0;
}

.project-column1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.project-column2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.project-image img {
    width: 100%;
    border: solid 10px var(--primary-color);
    border-radius: 15px;
    align-self: center;
    filter: saturate(0%);
}

.project-image img:hover {
    filter: contrast(100%) saturate(100%);
}

.project-image {
    box-shadow: 0 0 0 rgba(0, 0, 0, .25);
}

.project-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.project-links a {
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    border-radius: 10px;
    letter-spacing: 3px;
    text-decoration: none;
    margin: 3% 0 3% 0;
    padding: 3%;
}

.project-links a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*Project Styles End*/

/*Break Quote Styles*/
.break-quote {
    background-image: url("../images/JoshCross.jpg");
    background-color: white;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -20%;
}
/*Break Quote Styles End*/

/*Contact Styles*/
.contact-form {
    background-color: var(--form-color);
    border-radius: 15px;
    padding: 1% 5%;
    color: var(--secondary-color);
    margin: 5% 10% 0 10%;
    font-family: 'Poppins', sans-serif;
}

.form-row1 {
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}

.name {
    width: 45%;
}

.email {
    width: 45%;
}

.form-row1 input {
    height: 50%;
    width: 100%;
    padding: 5%;
    border: none;
}

.form-row2 input {
    width: 100%;
    height: 100px;
    padding: 1%;
    border: none;
}

.submit-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

button {
    padding: 10px 30px;
    border: solid 1px var(--secondary-color);
    letter-spacing: 5px;
    border-radius: 10px;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

button:active {
    background-color: var(--button-color);
    box-shadow: none;
}

.form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    border: 1px solid var(--secondary-color);
}

/*Contact Styles End*/

/*Social Section Styles*/

.social {
    text-align: center;
    margin: 5% 5% 10% 5%;
}

.social h2 {
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 3px;
    font-weight: lighter;
}

.social img {
    width: 3%;
    margin: .5% 5%;
    padding-top: 5%;
}

.social a {
    text-decoration: none;
}

.white {
    filter: invert(100%);
}



/*Social Section Styles End*/

/*Footer Styles*/
footer {
    margin: 20px;
    text-align: center;
    font-weight: lighter;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
}

footer nav ul {
    align-items: center;
    list-style: none;
}

footer nav ul li {
    display: inline;
    padding: 1%;
    font-weight: lighter;
}

footer nav ul a:hover {
    text-decoration: underline;
    font-weight: bold;
}

footer div ul li {
    display: inline;
}

footer div ul a:hover {
    font-weight: bold;
}
/*Footer Styles End*/

/*Media Queries - 

/*Media Queries - 900px*/
@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        justify-content: center;
        font-size: 3.1vw;
    }

    .intro {
        font-size: 100%;
        width: 50%;
        margin: 10% auto 5% auto;
        line-height: 1.5;
        text-align: center;
    }
}


/*Media Queries - 900px - End*/
@media screen and (max-width: 500px) {

}
/*Media Queries - 500px*/

/*Media Queries - 500px - End*/




